.ga-menu-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 0.5rem;
}
.ga-menu-item:hover {
  background-color: #f49132;
  color: #fff;
}
.ga-menu-item .menu-icon {
  margin-right: 0.2rem;
  font-size: 0.6rem;
}