.auth-signup-field-container {
  display: flex;
  flex-wrap: wrap;
}

.auth-imput {
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  width: 48%;
}

.auth-button {
  margin-top: 1rem;
}

.auth-imput {
  margin-bottom: 0.2rem;
}

.auth-language-label {
  display: block;
  margin: 1rem 0rem 0.5rem 1rem;
}

limel-button {
  --lime-primary-color: #f49132;
}