.send-document-container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1074px) {
  .send-document-container .send-document-prepare-container {
    width: calc(50% - 0.5rem);
    padding-right: 0.5rem;
  }
  .send-document-container .send-document-email-container {
    width: calc(50% - 0.5rem);
    padding-left: 0.5rem;
  }
}
@media (max-width: 1075px) {
  .send-document-container .send-document-prepare-container {
    width: 100%;
  }
  .send-document-container .send-document-email-container {
    margin-top: 1.5rem;
    width: 100%;
  }
}
.send-document-container .add-video-button {
  margin-bottom: 0.5rem;
}
.send-document-container .video-is-added {
  display: inline-flex;
  align-items: center;
  margin-left: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #f5f5f5;
}
.send-document-container .video-is-added .video-is-added-icon {
  padding: 0.1rem;
  margin-right: 0.5rem;
  background-color: #2dc990;
  color: #fff;
}
.send-document-container .video-is-added .video-remove-icon {
  margin-left: 0.5rem;
  padding: 0.1rem;
  color: #ccc;
}
.send-document-container .video-is-added:hover {
  background-color: #ccc;
}
.send-document-container .video-is-added:hover .video-remove-icon {
  color: #212121;
}
.send-document-container .video-remove-container {
  display: flex;
  cursor: pointer;
}

limel-button {
  --lime-primary-color: #f49132;
}

limel-checkbox {
  --lime-primary-color: #f49132;
}

limel-flex-container limel-input-field:first-child {
  flex: 2;
  margin-right: 0.5rem;
}
limel-flex-container limel-input-field:last-child {
  flex: 1;
  margin-left: 0.5rem;
}