.select-recipient-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 60vh;
  overflow: auto;
}
@media (min-width: 1074px) {
  .select-recipient-container .recipient-container {
    width: 45%;
    padding: 1rem;
  }
  .select-recipient-container .selected-recipient-container {
    width: 45%;
    padding: 1rem;
  }
}
@media (max-width: 1075px) {
  .select-recipient-container .recipient-container {
    width: 100%;
  }
  .select-recipient-container .selected-recipient-container {
    width: 100%;
  }
}

.recipient-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 50vh;
  overflow: auto;
}

.recipient-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipient-toolbar :first-child {
  flex-grow: 1;
  margin-right: 1.5rem;
}

limel-switch {
  --lime-primary-color: #f49132;
}