.document-details-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow: auto;
}
.document-details-container .document-details-info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.document-details-container .document-details-info-list .document-detail-title {
  font-weight: bold;
}
.document-details-container .document-details-action-buttons {
  margin-top: 1rem;
}
.document-details-container .document-details-action-buttons .document-details-action-button-remove {
  margin-left: 1rem;
}
@media (min-width: 1074px) {
  .document-details-container .document-details-info {
    width: 65%;
  }
  .document-details-container .document-details-pages {
    width: 33%;
  }
}
@media (max-width: 1075px) {
  .document-details-container .document-details-info {
    width: 100%;
  }
  .document-details-container .document-details-pages {
    width: 100%;
  }
}

limel-button {
  --lime-primary-color: #f49132;
}