.document-error-list {
  padding: 0;
  margin: 0;
}

.share-document-recipient-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.validate-document-button-container {
  display: flex;
  margin: 2rem 0;
}
.validate-document-button-container .send-button {
  padding-right: 1rem;
}

.action-buttons {
  margin-top: 2rem;
}
.action-buttons limel-button {
  margin-right: 1rem;
}

limel-button {
  --lime-primary-color: #f49132;
}