.auth-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.auth-container .login-container {
  width: 25%;
  padding: 1rem;
  border-right: 1px solid #ccc;
}
.auth-container .login-container.active {
  width: 60%;
}
.auth-container .signup-container {
  width: 40%;
  padding: 1rem;
}
.auth-container .signup-container.active {
  width: 75%;
}