.share-document-list-item {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}
.share-document-list-item .recipient-info-container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.share-document-list-item .recipient-info-container .recipient-icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #5b9bd1;
  color: #fff;
}
.share-document-list-item .recipient-info-container .recipient-info {
  display: flex;
  flex-direction: column;
}
.share-document-list-item .recipient-info-container .recipient-info .recipient-info-name {
  text-transform: capitalize;
  font-weight: bold;
}
.share-document-list-item .recipient-info-container .recipient-info .recipient-info {
  text-transform: capitalize;
}