.document-error {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
}
.document-error .document-error-icon {
  display: inherit;
  padding: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  background-color: #f88987;
  color: #fff;
}
.document-error .document-error-info {
  display: flex;
  flex-direction: column;
}
.document-error .document-error-info .document-error-header {
  margin-block-end: 0;
  margin-block-start: 0;
}
.document-error:hover {
  background-color: #f5f5f5;
}
@media (min-width: 1074px) {
  .document-error {
    width: 50%;
  }
}
@media (max-width: 1075px) {
  .document-error {
    width: 100%;
  }
}