.validate-document-success {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .validate-document-success .validate-document-summary {
    width: 50%;
  }
  .validate-document-success .validate-document-recipients {
    width: 50%;
  }
}
@media (max-width: 769px) {
  .validate-document-success .validate-document-summary {
    width: 100%;
  }
  .validate-document-success .validate-document-recipients {
    width: 100%;
  }
}
.validate-document-success .validate-document-property-list {
  list-style-type: none;
  margin: 0;
  padding: 0rem;
  width: 100%;
}
.validate-document-success .validate-document-property-list .document-property {
  font-weight: bold;
}
.validate-document-success .document-recipient-list {
  margin: 0 0 1rem 0;
  width: 100%;
  padding: 0rem;
}

limel-button {
  --lime-primary-color: #f49132;
}