.send-document-email {
  width: calc(100% - 1.2rem);
  border-color: rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0.5rem;
}
.send-document-email:focus {
  outline: none;
  border-color: #26a69a;
}

.send-document-email-subject {
  margin-top: 1rem;
  display: block;
  margin-left: 1rem;
  font-size: 0.675rem;
}