limel-dialog {
  --dialog-heading-icon-background-color: #f49132;
}
limel-dialog .ga-body {
  overflow: auto;
  min-height: min-content;
  margin-top: 1rem;
}
limel-dialog .ga-top-bar {
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: #fff;
  z-index: 4;
  display: flex;
  align-items: center;
  z-index: 9;
}
@media (min-width: 1074px) {
  limel-dialog {
    --dialog-width: 65rem;
    --dialog-height: 40rem;
  }
}
@media (max-width: 1075px) {
  limel-dialog {
    --dialog-width: 55rem;
    --dialog-height: 40rem;
  }
}
@media (min-width: 1800px) {
  limel-dialog {
    --dialog-width: 70rem;
    --dialog-height: 60rem;
  }
}

limel-button {
  --lime-primary-color: #f49132;
}

.logo-container {
  height: 2.2rem;
  width: 10rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: width 0.5s;
  overflow: hidden;
}
.logo-container.compact {
  width: 2.8rem;
}
.logo-container:hover {
  opacity: 0.8;
}
.logo-container .logo {
  height: 2.2rem;
}

.close {
  display: block;
  position: absolute;
  right: -1rem;
  top: 0rem;
  cursor: pointer;
}
.close:hover {
  color: #eee;
}

.actionpad-container {
  width: 100%;
}

.getaccept-button {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.425rem 0.875rem 0.425rem 0.875rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background 0.8s;
  background-position: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #444;
  background: #eee;
}
.getaccept-button:focus {
  outline: 0;
}
.getaccept-button:hover {
  background: #f5f5f5 radial-gradient(circle, transparent 1%, #f5f5f5 1%) center/15000%;
}
.getaccept-button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
.getaccept-button img {
  height: 2rem;
  flex: 0;
}
.getaccept-button .button-text {
  margin-left: 0.5rem;
  flex: 2;
  text-align: left;
}
.getaccept-button .document-count {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.getaccept-button .document-count limel-icon {
  margin-right: 0.3rem;
}

workflow-progress-bar {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  right: 4rem;
}