.main-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 1074px) {
  .main-layout .send-new-document-container {
    width: 65%;
  }
  .main-layout .send-new-document-container .send-new-document-buttons {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main-layout .related-documents {
    margin-right: 1rem;
    width: 33%;
  }
}
@media (max-width: 1075px) {
  .main-layout .send-new-document-container {
    width: 100%;
  }
  .main-layout .related-documents {
    width: 100%;
  }
}