.document-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.document-list-item:hover {
  background-color: #ccc;
}
.document-list-item .document-icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #5b9bd1;
  color: #fff;
}
.document-list-item .document-icon.sent {
  background-color: #2dc990;
}
.document-list-item .document-icon.hardbounced {
  background-color: #f88987;
}
.document-list-item .document-icon.sealed {
  background-color: #f49132;
}
.document-list-item .document-icon.draft {
  background-color: #737373;
}
.document-list-item .document-info-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.document-list-item .document-info-container .document-created-date {
  margin-left: 0.5rem;
}
.document-list-item .document-info-container .document-created-date::before {
  content: "|";
  margin-right: 0.5rem;
}