.help-container {
  display: flex;
  flex-wrap: wrap;
}
.help-container .help-support {
  width: 100%;
}
.help-container .help-support .help-support-link {
  text-decoration: none;
  color: #212121;
}
.help-container .help-support .support-links-list {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}
.help-container .help-support .support-links-list li {
  display: flex;
  margin-top: 0.5rem;
}
.help-container .help-support .support-links-list li a {
  text-decoration: none;
  color: #212121;
  margin-left: 0.5rem;
}