.progress-steps {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.progress-steps limel-icon {
  color: #f49132;
}
.progress-steps .progress-action-button {
  margin: 0 2.5rem;
  color: #f49132;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}
.progress-steps .progress-step {
  text-align: center;
  margin: 0 1rem;
  text-align: center;
  margin: 0 1rem;
  width: 5rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.progress-steps .progress-step .progress-step-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  overflow: hidden;
  background-color: #f5f5f5;
  color: #f49132;
  cursor: pointer;
}
.progress-steps .progress-step .progress-step-icon.active {
  background-color: #f49132;
  color: #fff;
}
.progress-steps .progress-step .progress-step-text {
  font-size: 0.55rem;
}