.page-info-container {
  display: flex;
}
.page-info-container .page-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #f49132;
  color: #fff;
}
.page-info-container .page-thumb {
  width: 4rem;
  height: 6rem;
  background-color: #ccc;
  object-fit: contain;
}
.page-info-container .page-time-spent {
  margin-left: 1rem;
}
.page-info-container .page-time-spent .page-time-spent-text {
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.page-info-percent {
  margin-bottom: 1rem;
}